node-red/flows.json
[{"id":"9b8046a.d95f4b8","type":"tab","label":"Living Room","disabled":false,"info":""},{"id":"f6f70d6e.186e3","type":"tab","label":"Bathroom","disabled":false,"info":""},{"id":"d0a3050.f55b2f8","type":"tab","label":"Pantry","disabled":false,"info":""},{"id":"3abee692.15f4da","type":"tab","label":"Bedroom","disabled":false,"info":""},{"id":"43ce88e0.b18ec8","type":"tab","label":"Hallway","disabled":false,"info":""},{"id":"294dd5a2.0a571a","type":"tab","label":"Bathroom WC","disabled":false,"info":""},{"id":"91d56fee.23eae","type":"tab","label":"Climate","disabled":false,"info":""},{"id":"1fff09cf.aa5a56","type":"tab","label":"Harmony","disabled":false,"info":""},{"id":"60c80b41.72b654","type":"tab","label":"KODI","disabled":false,"info":""},{"id":"75d6253f.3454cc","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"a3002060.c0d1","type":"tab","label":"Doorbell/Locks","disabled":false,"info":""},{"id":"72b4a2b5.92eb9c","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"b6e4b62e.830308","type":"tab","label":"Shopping","disabled":false,"info":""},{"id":"f081d48c.a98598","type":"tab","label":"Bring!","disabled":true,"info":""},{"id":"95d4d9a3.33c948","type":"tab","label":"Toon","disabled":true,"info":""},{"id":"b95771c8.d0372","type":"tab","label":"telegram","disabled":true,"info":""},{"id":"f5e466bb.8049f8","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"48ebc7ce.1b64e8","type":"tab","label":"Presence flow","disabled":false,"info":""},{"id":"60c6dc80.fd2254","type":"server","z":"","name":"Home Assistant"},{"id":"5dcb3d27.34ff34","type":"mqtt-broker","z":"","name":"Ocelotte","broker":"192.168.2.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6ee68ab5.71e474","type":"server","z":"","name":"Home Assistant"},{"id":"bfd60779.b70938","type":"nuki-bridge","z":"","host":"192.168.2.4","port":"8080"},{"id":"9825d72a.7559a8","type":"hue-bridge","z":"","name":"ColorfulMoose","bridge":"192.168.2.7","key":"eLHvbQ7DLO-SuhpIyWxNVk1johhtuJRRigEQ1CbW","interval":"3000"},{"id":"7bc20676.b12478","type":"ui_group","z":"","name":"Toon","tab":"e88345b9.0055c8","disp":true,"width":"6"},{"id":"7fe7c28d.d1875c","type":"ui_group","z":"","name":"Program","tab":"e88345b9.0055c8","order":2,"disp":true,"width":"6"},{"id":"f0d787e9.f3aaa8","type":"ui_group","z":"","name":"Energy use","tab":"e88345b9.0055c8","order":3,"disp":true,"width":"6"},{"id":"c420b496.5d4be8","type":"ui_group","z":"","name":"Boiler Info","tab":"e88345b9.0055c8","order":4,"disp":true,"width":"6"},{"id":"e88345b9.0055c8","type":"ui_tab","z":"","name":"Toon","icon":"dashboard"},{"id":"4780028c.11f7ec","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4f468698.6de7a8","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"","longitude":""},{"id":"30089c38.b4d4d4","type":"light-scheduler-settings","z":"","name":"Home","latitude":"52.2220138","longitude":"4.5134183"},{"id":"730870e3.4e409","type":"harmony-server","z":"","name":"","ip":"192.168.2.5"},{"id":"168a178c.245a58","type":"server","z":"","name":"Home Assistant instance","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"262777c6.393258","type":"hue-bridge","z":"","name":"Philips Hue EG Flow","bridge":"192.168.4.111","key":"KEY88KEYKEYKEYKEYKEYk--KeyKeyKeyKeyKeyK","interval":"3000"},{"id":"d9874aa.968bdb8","type":"telegram bot","z":"","botname":"ocelotte_bot","usernames":"omgookpenguins","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"bf6039a0.c13728","type":"telegrambot-config","z":"","botname":"Ocelotte","usernames":"omglookpenguins","chatIds":"","pollInterval":"300"},{"id":"7615e187.62d44","type":"googlehome-config-node","z":"","ipaddress":"","language":"en"},{"id":"2e3cbdd.a222242","type":"google-home-conf","z":"","username":"ocelotte"},{"id":"2b0fe8ea.032e28","type":"googlehome-config-node","z":"","ipaddress":"192.168.2.18","name":"","language":"en"},{"id":"ff4d3839.077ec8","type":"harmony-server","z":"","name":"HarmoniousMoose","ip":"192.168.2.5"},{"id":"95b62c7e.120f9","type":"harmonyws-server","z":"","name":"HarmoniousMoose","ip":"192.168.2.5"},{"id":"84bbb4ce.77d528","type":"ui_group","z":"","name":"GO-UNO","tab":"e1874e7a.952da","disp":true,"width":"6","collapse":false},{"id":"e1874e7a.952da","type":"ui_tab","z":"","name":"TheBridgeBlinds","icon":"dashboard"},{"id":"af7c79c.68a1c88","type":"kodi-controller","z":"","name":"Ebrietas","host":"192.168.2.14","port":"9090"},{"id":"c39515ab.5dbcb8","type":"server","z":"","name":"HomeAssistant"},{"id":"f7049cf9.d7546","type":"telegrambot-config","z":"","botname":"TelegramBot","usernames":"","chatIds":"","pollInterval":"300"},{"id":"9352fa3c.f68318","type":"server-state-changed","z":"91d56fee.23eae","name":"Temperature above 24","server":"60c6dc80.fd2254","version":1,"entityidfilter":"sensor.dark_sky_apparent_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"24","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"x":120,"y":160,"wires":[["9903712a.ef68c"],[]]},{"id":"9903712a.ef68c","type":"time-range-switch","z":"91d56fee.23eae","name":"Between 9 and 21","lat":"52.22201","lon":"4.51342","startTime":"9:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":350,"y":160,"wires":[["2c561171.f7c61e"],[]]},{"id":"94a66670.276188","type":"api-call-service","z":"91d56fee.23eae","name":"Ceiling Fan LR On","server":"60c6dc80.fd2254","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.shenzhen_neo_electronics_co_ltd_wall_switch_2_channels_switch\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":80,"wires":[[]]},{"id":"d0998655.8bd0b8","type":"time-range-switch","z":"91d56fee.23eae","name":"Between 21 and 9","lat":"52.22531","lon":"4.52057","startTime":"21:00","endTime":"9:00","startOffset":0,"endOffset":0,"x":350,"y":220,"wires":[["e5345cc8.5fd19"],[]]},{"id":"2a3d829f.bf342e","type":"server-state-changed","z":"91d56fee.23eae","name":"Temp below 24","server":"60c6dc80.fd2254","version":1,"entityidfilter":"sensor.dark_sky_apparent_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"24","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"x":100,"y":220,"wires":[["d0998655.8bd0b8","9903712a.ef68c"],[]]},{"id":"2c561171.f7c61e","type":"api-current-state","z":"91d56fee.23eae","name":"Fan State","server":"60c6dc80.fd2254","version":1,"outputs":2,"halt_if":"OFF","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.shenzhen_neo_electronics_co_ltd_wall_switch_2_channels_switch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":100,"wires":[["94a66670.276188","a0d92cb6.dc891","5a6bd421.9e989c"],["b44f9981.7768c8"]]},{"id":"e5345cc8.5fd19","type":"api-current-state","z":"91d56fee.23eae","name":"Fan State","server":"60c6dc80.fd2254","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.shenzhen_neo_electronics_co_ltd_wall_switch_2_channels_switch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":280,"wires":[["81f9421d.43d2b","e8361098.7027d","8f690d65.d5c9a"],["b7a65fc9.d2ca3"]]},{"id":"9ee5f663.20a458","type":"bigtimer","z":"72b4a2b5.92eb9c","outtopic":"","outpayload1":"","outpayload2":"","name":"Sunset","comment":"","lat":"52.22542","lon":"4.52051","starttime":"5004","endtime":"75","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":2400,"y":300,"wires":[[],[],[]]},{"id":"ae4e959a.3e17e8","type":"api-call-service","z":"72b4a2b5.92eb9c","name":"","server":"60c6dc80.fd2254","service_domain":"light","service":"turn_on","data":"","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2780,"y":320,"wires":[[]]},{"id":"a0d92cb6.dc891","type":"api-call-service","z":"91d56fee.23eae","name":"Announce Fan on","server":"60c6dc80.fd2254","version":"1","service_domain":"tts","service":"google_say2","entityId":"media_player.living_room_speaker","data":"{\"message\":\"Temperature is above 25 degrees celsius, turning the ceiling fan on.\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":20,"wires":[[]]},{"id":"7f0db8b7.cc3168","type":"rpi-gpio in","z":"a3002060.c0d1","name":"Doorbell Front","pin":"38","intype":"up","debounce":"20","read":true,"x":130,"y":200,"wires":[["d3594586.231cc8"]]},{"id":"88988150.46a62","type":"api-call-service","z":"a3002060.c0d1","name":"Front Door Announce","server":"60c6dc80.fd2254","service_domain":"tts","service":"google_say","data":"{\"entity_id\":\"media_player.living_room_speaker, media_player.bathroom_speaker\",\"message\":\"There is someone at the door..\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":200,"wires":[[]]},{"id":"d3594586.231cc8","type":"switch","z":"a3002060.c0d1","name":"Button state","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":160,"wires":[["88988150.46a62"]]},{"id":"b44f9981.7768c8","type":"api-current-state","z":"91d56fee.23eae","name":"temp below 23","server":"60c6dc80.fd2254","version":1,"outputs":2,"halt_if":"23","halt_if_type":"num","halt_if_compare":"lte","override_topic":false,"entity_id":"sensor.dark_sky_apparent_temperature","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":740,"y":140,"wires":[["81f9421d.43d2b","e8361098.7027d","8f690d65.d5c9a"],[]]},{"id":"81f9421d.43d2b","type":"api-call-service","z":"91d56fee.23eae","name":"Ceiling Fan LR Off","server":"60c6dc80.fd2254","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shenzhen_neo_electronics_co_ltd_wall_switch_2_channels_switch\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":280,"wires":[[]]},{"id":"e8361098.7027d","type":"api-call-service","z":"91d56fee.23eae","name":"Announce Fan off","server":"60c6dc80.fd2254","version":1,"service_domain":"tts","service":"google_say2","entityId":"media_player.living_room_speaker","data":"{\"message\":\"Temperature is below 24 degrees celsius, turning the ceiling fan off.\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":360,"wires":[[]]},{"id":"8f52435.1ceeac","type":"server-state-changed","z":"b6e4b62e.830308","name":"Rijk at Vomar","server":"60c6dc80.fd2254","version":1,"entityidfilter":"person.rijk","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Vomar","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":220,"wires":[["98000254.eac09","68b42a2d.57c644"],[]]},{"id":"dc74ad1a.86236","type":"api-call-service","z":"b6e4b62e.830308","name":"Announce Rijk Vomar","server":"60c6dc80.fd2254","service_domain":"tts","service":"google_say","data":"{\"entity_id\":\"media_player.living_room_speaker\",\"message\":\"Rijk is at the Vomar, let him know if you need anything.\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":260,"wires":[[]]},{"id":"98000254.eac09","type":"api-current-state","z":"b6e4b62e.830308","name":"Laura Home","server":"60c6dc80.fd2254","version":1,"outputs":2,"halt_if":"Home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.laura","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":240,"wires":[["dc74ad1a.86236","eaf5b0ff.9f473"],[]]},{"id":"89a2cdc.8e9d33","type":"template","z":"f081d48c.a98598","name":"done","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Done.","output":"str","x":1110,"y":120,"wires":[[]]},{"id":"a80ae6f0.a81738","type":"http request","z":"f081d48c.a98598","name":"add item","method":"PUT","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":980,"y":120,"wires":[["89a2cdc.8e9d33"]]},{"id":"8841de52.1a465","type":"template","z":"f081d48c.a98598","name":"add auth headers","field":"headers","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"X-BRING-API-KEY\": \"--BRING-WEB-API-KEY--\",\n    \"X-BRING-CLIENT\": \"webApp\",\n    \"X-BRING-USER-UUID\": \"--YOUR-USER-ID--\",\n    \"X-BRING-COUNTRY\": \"US\",\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"charset\": \"UTF-8\"\n}","output":"json","x":810,"y":120,"wires":[["a80ae6f0.a81738"]]},{"id":"dd33effb.145ac","type":"function","z":"f081d48c.a98598","name":"build url","func":"function parseItem(item){\n    var terms = item.split(\" \");\n    for(var i = 0; i < terms.length; i++){\n        search = terms.slice(0, terms.length - i).join(\" \");\n        if(search in msg.mapping){\n            return {\n                \"name\": msg.mapping[search],\n                \"spec\": (i > 0 ? terms.slice(i + 1).join(\" \") : \"\")\n            };\n        }\n\n        if(search.endsWith(\"s\")){\n            search = search.substring(0, search.length - 1);\n            if(search in msg.mapping){\n                return {\n                    \"name\": msg.mapping[search],\n                    \"spec\": terms.slice(i + 2).join(\" \")\n                };\n            }\n        }\n\n        search = terms.slice(i, terms.length).join(\" \");\n        if(search in msg.mapping){\n            return {\n                \"name\": msg.mapping[search],\n                \"spec\": terms.slice(0, i).join(\" \")\n            };\n        }\n\n        if(search.endsWith(\"s\")){\n            search = search.substring(0, search.length - 1);\n            if(search in msg.mapping){\n                return {\n                    \"name\": msg.mapping[search],\n                    \"spec\": terms.slice(0, i).join(\" \")\n                };\n            }\n        }\n    }\n\n    return {\n        \"name\": item,\n        \"spec\": \"\"\n    }\n}\n\nif(typeof msg.bring !== \"undefined\"){\n    var item = parseItem(msg.bring.item.toLowerCase());\n\n    msg.payload = \"recently=&remove=&sender=null\";\n    msg.payload += \"&purchase=\" + item.name;\n    msg.payload += \"&specification=\" + item.spec;\n    \n    msg.url = \"https://api.getbring.com/rest/bringlists/\" + msg.bring.list\n}\nelse{\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":120,"wires":[["8841de52.1a465"]]},{"id":"384f6cdb.42a084","type":"function","z":"f081d48c.a98598","name":"parse translation file","func":"\n//msg.mapping = msg.payload.toLowerCase();\n//msg.mapping = msg.mapping.replace(/^\\s*\"(.*?)\":\\s+\"(.*?)\"(,?)$/img, '\"$2\":\"$1\"$3\\n');\nmsg.mapping = {};\n\nvar translation = JSON.parse(msg.payload);\nObject.keys(translation).forEach(function(key) {\n  msg.mapping[translation[key].toLowerCase()] = key;\n});\n\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":120,"wires":[["dd33effb.145ac"]]},{"id":"ad52c890.af1f38","type":"http request","z":"f081d48c.a98598","name":"get translation file","method":"GET","ret":"txt","paytoqs":false,"url":"https://web.getbring.com/locale/articles.en-US.json","tls":"","proxy":"","authType":"","x":250,"y":120,"wires":[["384f6cdb.42a084"]]},{"id":"e49bc2e3.27bc5","type":"function","z":"f081d48c.a98598","name":"Extract item","func":"var re = /^(?:put|add)(.*?)(?:on|to) the list$/i;\n\nvar match = msg.payload.instruction.match(re);\nif(match !== null){\n    msg.bring = {};\n    msg.bring.list = '--YOUR-LIST-UUID--',\n    msg.bring.item = match[1].trim();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":70,"y":120,"wires":[["ad52c890.af1f38"]]},{"id":"7f002625.22e618","type":"nuki-lock-control","z":"a3002060.c0d1","name":"","nuki":"371990637","bridge":"bfd60779.b70938","x":680,"y":440,"wires":[[]]},{"id":"1b700470.8c564c","type":"inject","z":"95d4d9a3.33c948","name":"Make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":280,"wires":[["e7e1f65e.6d79e8","d928d65a.d95d98","521ddeda.57a53"]]},{"id":"7369fd01.c22054","type":"http request","z":"95d4d9a3.33c948","name":"","method":"GET","ret":"txt","url":"","tls":"","x":710,"y":280,"wires":[["a4c5c00a.2306f"]]},{"id":"d34f8b76.d93c88","type":"debug","z":"95d4d9a3.33c948","name":"","active":false,"console":"false","complete":"false","x":1230,"y":260,"wires":[]},{"id":"a4c5c00a.2306f","type":"json","z":"95d4d9a3.33c948","name":"","property":"payload","action":"","pretty":false,"x":890,"y":280,"wires":[["d34f8b76.d93c88","6cd0aabb.ad1c94"]]},{"id":"7a260c1b.ded304","type":"ui_numeric","z":"95d4d9a3.33c948","name":"","label":"Set temperature","group":"7bc20676.b12478","order":2,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value  | number:1}}","min":"15","max":"28","step":"0.5","x":480,"y":520,"wires":[["f0fc433e.892a8"]]},{"id":"7186e75f.590158","type":"function","z":"95d4d9a3.33c948","name":"GetCurrentSetpoint","func":"var CurrentSetpoint = parseInt(msg.payload.currentSetpoint)\n//CurrentSetpoint = CurrentSetpoint /1000\nmsg.payload=CurrentSetpoint /100\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":520,"wires":[["7a260c1b.ded304"]]},{"id":"5f8428a8.ea0818","type":"http request","z":"95d4d9a3.33c948","name":"","method":"GET","ret":"txt","url":"","tls":"","x":870,"y":520,"wires":[["bbef8060.ce263"]]},{"id":"d42ee7f4.844f38","type":"debug","z":"95d4d9a3.33c948","name":"","active":false,"console":"false","complete":"false","x":1230,"y":520,"wires":[]},{"id":"bbef8060.ce263","type":"json","z":"95d4d9a3.33c948","name":"","property":"payload","action":"","pretty":false,"x":1050,"y":520,"wires":[["d42ee7f4.844f38"]]},{"id":"f0fc433e.892a8","type":"function","z":"95d4d9a3.33c948","name":"SetSetPoint","func":"msg.url = flow.get(\"ToonUrl\") + \"/happ_thermstat?action=setSetpoint&Setpoint=\" + msg.payload *100\nconsole.log(global.get(\"ToonUrl\"));\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":520,"wires":[["5f8428a8.ea0818"]]},{"id":"b6f7cdfc.115e5","type":"ui_template","z":"95d4d9a3.33c948","group":"7bc20676.b12478","name":"Page Got Loaded","order":1,"width":0,"height":0,"format":"<script>\n(function() {\n    (function(scope) {\n        scope.send({payload: \"preload\"}); // this gets sent when the view is opened in the browser\n    })(scope);\n})();\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":230,"y":220,"wires":[["e7e1f65e.6d79e8","d928d65a.d95d98","521ddeda.57a53"]]},{"id":"ee72d751.048298","type":"ui_button","z":"95d4d9a3.33c948","name":"","group":"7fe7c28d.d1875c","order":7,"width":"2","height":"1","passthru":false,"label":"Weg","color":"{{msg.color}}","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"","x":510,"y":640,"wires":[["263da107.804d7e"]]},{"id":"d5d4891a.cdab08","type":"ui_button","z":"95d4d9a3.33c948","name":"","group":"7fe7c28d.d1875c","order":5,"width":"2","height":"1","passthru":false,"label":"Thuis","color":"{{msg.color}}","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":510,"y":680,"wires":[["263da107.804d7e"]]},{"id":"467bfcfc.7502a4","type":"ui_button","z":"95d4d9a3.33c948","name":"","group":"7fe7c28d.d1875c","order":6,"width":"2","height":"1","passthru":false,"label":"Slapen","color":"{{msg.color}}","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":500,"y":720,"wires":[["263da107.804d7e"]]},{"id":"e3154ae1.91d838","type":"ui_button","z":"95d4d9a3.33c948","name":"","group":"7fe7c28d.d1875c","order":8,"width":"2","height":"1","passthru":false,"label":"Comfort","color":"{{msg.color}}","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":500,"y":760,"wires":[["263da107.804d7e"]]},{"id":"263da107.804d7e","type":"function","z":"95d4d9a3.33c948","name":"SetSetPoint","func":"msg.url = flow.get(\"ToonUrl\") + \"/happ_thermstat?action=changeSchemeState&state=2&temperatureState=\" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":700,"wires":[["a0bf5136.3da38"]]},{"id":"81a15089.92129","type":"function","z":"95d4d9a3.33c948","name":"CurrentSetpointFontColor","func":"var ActiveState = msg.payload.activeState\nvar Offcolor = \"white\";\nvar Oncolor = \"orange\";\n\n\nvar msg1= {color: Offcolor};\nvar msg2= {color: Offcolor};\nvar msg3= {color: Offcolor};\nvar msg4= {color: Offcolor};\n\nswitch (ActiveState) {\n       case \"0\":\n        msg4.color = Oncolor;\n       break;\n       case \"1\":\n       msg2.color = Oncolor;\n       break;\n       case \"2\":\n        msg3.color = Oncolor;\n       break;\n       case \"3\":\n        msg1.color = Oncolor;\n       break;\n       default:\n        console.log(\"Error, unknown state: \" + msg.payload.activeState)\n    \tbreak;\n       }  \n//var msg1 = { payload:\"first out of output 1\" };\n//var msg2 = { payload:\"second out of output 1\" };\n//var msg3 = { payload:\"third out of output 1\" };\n//var msg4 = { payload:\"only message from output 2\" };\nreturn [ msg1, msg2, msg3 , msg4 ];\n\n//var newMsg = { payload: msg.payload.length };\n//return [msg, newMsg];\n//return  msg1;","outputs":4,"noerr":0,"x":210,"y":700,"wires":[["ee72d751.048298"],["d5d4891a.cdab08"],["467bfcfc.7502a4"],["e3154ae1.91d838"]]},{"id":"9e2a0c73.cf321","type":"change","z":"95d4d9a3.33c948","name":"RefreshInfo","rules":[{"t":"delete","p":"url","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":340,"wires":[["e7e1f65e.6d79e8","d928d65a.d95d98","521ddeda.57a53"]]},{"id":"afdae360.f3861","type":"ui_text","z":"95d4d9a3.33c948","group":"7bc20676.b12478","order":3,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload.currentTemp /100  | number:1}} &deg;C","layout":"row-spread","x":490,"y":920,"wires":[]},{"id":"dab805d6.b72c18","type":"ui_switch","z":"95d4d9a3.33c948","name":"","label":"Program","group":"7fe7c28d.d1875c","order":9,"width":"4","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":500,"y":840,"wires":[["39b7129a.71e63e"]]},{"id":"39b7129a.71e63e","type":"function","z":"95d4d9a3.33c948","name":"ProgramOnOff","func":"msg.url = flow.get(\"ToonUrl\") +\"/happ_thermstat?action=changeSchemeState&state=\" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":840,"wires":[["d6d09bad.c35f88"]]},{"id":"2a398993.43a516","type":"change","z":"95d4d9a3.33c948","name":"SetCurrentState","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.programState","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":840,"wires":[["dab805d6.b72c18"]]},{"id":"d7e8b388.f459e","type":"http request","z":"95d4d9a3.33c948","name":"","method":"GET","ret":"txt","url":"","tls":"","x":710,"y":220,"wires":[["73cd6be1.c59b94"]]},{"id":"54b92d53.7c19f4","type":"debug","z":"95d4d9a3.33c948","name":"","active":false,"console":"false","complete":"false","x":1230,"y":200,"wires":[]},{"id":"73cd6be1.c59b94","type":"json","z":"95d4d9a3.33c948","name":"","property":"payload","action":"","pretty":false,"x":890,"y":220,"wires":[["54b92d53.7c19f4","d486486.14c8fb8"]]},{"id":"3c142037.84d62","type":"function","z":"95d4d9a3.33c948","name":"ToonIP","func":"//Set here the IP of the Toon\nflow.set(\"ToonUrl\", \"http://192.168.2.13\");\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":120,"wires":[[]]},{"id":"d486486.14c8fb8","type":"link out","z":"95d4d9a3.33c948","name":"Boilerinfo","links":["14431dce.f21472","34947444.7074cc","ac8a633c.41c0e","5445b1ef.cd4dc","1390193a.0a0317"],"x":1095,"y":220,"wires":[]},{"id":"6cd0aabb.ad1c94","type":"link out","z":"95d4d9a3.33c948","name":"ThermostatInfo","links":["9af2aff7.39af8","a0a2d2ad.60b6d","145d0c50.d3c424","9d0ee7f2.70c4c8","ea1a346b.0e91d8"],"x":1095,"y":280,"wires":[]},{"id":"9af2aff7.39af8","type":"link in","z":"95d4d9a3.33c948","name":"","links":["6cd0aabb.ad1c94"],"x":15,"y":700,"wires":[["81a15089.92129"]]},{"id":"a0a2d2ad.60b6d","type":"link in","z":"95d4d9a3.33c948","name":"","links":["6cd0aabb.ad1c94"],"x":15,"y":840,"wires":[["2a398993.43a516"]]},{"id":"a0bf5136.3da38","type":"http request","z":"95d4d9a3.33c948","name":"","method":"GET","ret":"txt","url":"","tls":"","x":870,"y":700,"wires":[["fe792d10.2f3fe"]]},{"id":"d6d09bad.c35f88","type":"http request","z":"95d4d9a3.33c948","name":"","method":"GET","ret":"txt","url":"","tls":"","x":870,"y":840,"wires":[["1053654.5823c9b"]]},{"id":"fe792d10.2f3fe","type":"json","z":"95d4d9a3.33c948","name":"","property":"payload","action":"","pretty":false,"x":1050,"y":700,"wires":[["43fc3579.bca6cc","9e2a0c73.cf321"]]},{"id":"1053654.5823c9b","type":"json","z":"95d4d9a3.33c948","name":"","property":"payload","action":"","pretty":false,"x":1050,"y":840,"wires":[["70553065.e7cf1","9e2a0c73.cf321"]]},{"id":"43fc3579.bca6cc","type":"debug","z":"95d4d9a3.33c948","name":"","active":false,"console":"false","complete":"false","x":1230,"y":700,"wires":[]},{"id":"70553065.e7cf1","type":"debug","z":"95d4d9a3.33c948","name":"","active":false,"console":"false","complete":"false","x":1230,"y":840,"wires":[]},{"id":"145d0c50.d3c424","type":"link in","z":"95d4d9a3.33c948","name":"","links":["6cd0aabb.ad1c94"],"x":15,"y":520,"wires":[["7186e75f.590158"]]},{"id":"9d0ee7f2.70c4c8","type":"link in","z":"95d4d9a3.33c948","name":"","links":["6cd0aabb.ad1c94"],"x":15,"y":920,"wires":[["afdae360.f3861"]]},{"id":"a0b2c654.221ff8","type":"inject","z":"95d4d9a3.33c948","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":120,"wires":[["3c142037.84d62"]]},{"id":"507232dc.4ba8dc","type":"http request","z":"95d4d9a3.33c948","name":"","method":"GET","ret":"txt","url":"","tls":"","x":710,"y":340,"wires":[["5595914b.54a5d"]]},{"id":"5595914b.54a5d","type":"json","z":"95d4d9a3.33c948","name":"","property":"payload","action":"","pretty":false,"x":890,"y":340,"wires":[["47941e85.9febc","5a7a9091.9bb2"]]},{"id":"47941e85.9febc","type":"debug","z":"95d4d9a3.33c948","name":"","active":false,"console":"false","complete":"false","x":1230,"y":320,"wires":[]},{"id":"5a7a9091.9bb2","type":"link out","z":"95d4d9a3.33c948","name":"ZwaveDevices","links":["8d7b97bd.875658","537fe01c.d14b3","18f9b315.8cf01d","22bbfd84.c24292"],"x":1095,"y":340,"wires":[]},{"id":"98b4629.c2026a","type":"ui_text","z":"95d4d9a3.33c948","group":"f0d787e9.f3aaa8","order":1,"width":0,"height":0,"name":"","label":"Current Now","format":"{{msg.payload[\"dev_4.2\"].CurrentElectricityFlow  | number:0}} Watt","layout":"row-spread","x":490,"y":1080,"wires":[]},{"id":"8d7b97bd.875658","type":"link in","z":"95d4d9a3.33c948","name":"","links":["5a7a9091.9bb2"],"x":15,"y":1080,"wires":[["98b4629.c2026a"]]},{"id":"d0163ca9.fd488","type":"ui_text","z":"95d4d9a3.33c948","group":"f0d787e9.f3aaa8","order":3,"width":0,"height":0,"name":"","label":"Gas Now","format":"{{msg.payload[\"dev_4.1\"].CurrentGasFlow  | number:2}} M&sup2;","layout":"row-spread","x":480,"y":1160,"wires":[]},{"id":"537fe01c.d14b3","type":"link in","z":"95d4d9a3.33c948","name":"","links":["5a7a9091.9bb2"],"x":15,"y":1160,"wires":[["d0163ca9.fd488"]]},{"id":"c1d4ee85.b9123","type":"ui_text","z":"95d4d9a3.33c948","group":"f0d787e9.f3aaa8","order":4,"width":0,"height":0,"name":"","label":"Gas Today","format":"{{msg.payload[\"dev_4.1\"].CurrentGasQuantity  | number:2}} M&sup2;","layout":"row-spread","x":490,"y":1200,"wires":[]},{"id":"18f9b315.8cf01d","type":"link in","z":"95d4d9a3.33c948","name":"","links":["5a7a9091.9bb2"],"x":15,"y":1200,"wires":[["c1d4ee85.b9123"]]},{"id":"fbb04045.3f324","type":"ui_text","z":"95d4d9a3.33c948","group":"f0d787e9.f3aaa8","order":2,"width":0,"height":0,"name":"","label":"Current Today","format":"{{msg.payload[\"dev_4.2\"].CurrentElectricityQuantity  | number:0}} KwH","layout":"row-spread","x":500,"y":1120,"wires":[]},{"id":"22bbfd84.c24292","type":"link in","z":"95d4d9a3.33c948","name":"","links":["5a7a9091.9bb2"],"x":15,"y":1120,"wires":[["fbb04045.3f324"]]},{"id":"d1fbb212.0ecb","type":"ui_text","z":"95d4d9a3.33c948","group":"c420b496.5d4be8","order":3,"width":0,"height":0,"name":"","label":"Boiler Set Point","format":"{{msg.payload.boilerSetpoint}} &deg;C","layout":"row-spread","x":500,"y":1280,"wires":[]},{"id":"14431dce.f21472","type":"link in","z":"95d4d9a3.33c948","name":"","links":["d486486.14c8fb8"],"x":15,"y":1280,"wires":[["d1fbb212.0ecb"]]},{"id":"105e78a.794f287","type":"ui_text","z":"95d4d9a3.33c948","group":"c420b496.5d4be8","order":3,"width":0,"height":0,"name":"","label":"Boiler Out Temperature","format":"{{msg.payload.boilerOutTemp}} &deg;C","layout":"row-spread","x":530,"y":1320,"wires":[]},{"id":"34947444.7074cc","type":"link in","z":"95d4d9a3.33c948","name":"","links":["d486486.14c8fb8"],"x":15,"y":1320,"wires":[["105e78a.794f287"]]},{"id":"5e92a61.eb5da58","type":"ui_text","z":"95d4d9a3.33c948","group":"c420b496.5d4be8","order":3,"width":0,"height":0,"name":"","label":"Boiler In Temperature","format":"{{msg.payload.boilerInTemp}} &deg;C","layout":"row-spread","x":520,"y":1360,"wires":[]},{"id":"ac8a633c.41c0e","type":"link in","z":"95d4d9a3.33c948","name":"","links":["d486486.14c8fb8"],"x":15,"y":1360,"wires":[["5e92a61.eb5da58"]]},{"id":"283ca703.9738d8","type":"ui_text","z":"95d4d9a3.33c948","group":"c420b496.5d4be8","order":3,"width":0,"height":0,"name":"","label":"Boiler Pressure","format":"{{msg.payload.boilerPressure}} Bar","layout":"row-spread","x":500,"y":1400,"wires":[]},{"id":"5445b1ef.cd4dc","type":"link in","z":"95d4d9a3.33c948","name":"","links":["d486486.14c8fb8"],"x":15,"y":1400,"wires":[["283ca703.9738d8"]]},{"id":"db5b26f2.b940c8","type":"ui_text","z":"95d4d9a3.33c948","group":"c420b496.5d4be8","order":3,"width":0,"height":0,"name":"","label":"Modulation Level","format":"{{msg.payload.boilerModulationLevel}} %","layout":"row-spread","x":510,"y":1440,"wires":[]},{"id":"1390193a.0a0317","type":"link in","z":"95d4d9a3.33c948","name":"","links":["d486486.14c8fb8"],"x":15,"y":1440,"wires":[["db5b26f2.b940c8"]]},{"id":"e7e1f65e.6d79e8","type":"function","z":"95d4d9a3.33c948","name":"GetBoilerInfo","func":"msg.url = flow.get(\"ToonUrl\") + \"/boilerstatus/boilervalues.txt\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":220,"wires":[["d7e8b388.f459e"]]},{"id":"d928d65a.d95d98","type":"function","z":"95d4d9a3.33c948","name":"GetThermostatInfo","func":"msg.url = flow.get(\"ToonUrl\") + \"/happ_thermstat?action=getThermostatInfo\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["7369fd01.c22054"]]},{"id":"521ddeda.57a53","type":"function","z":"95d4d9a3.33c948","name":"GetZwaveDevices","func":"msg.url = flow.get(\"ToonUrl\") + \"/hdrv_zwave?action=getDevices.json\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":340,"wires":[["507232dc.4ba8dc"]]},{"id":"1ecd972c.d2e6a9","type":"ui_text","z":"95d4d9a3.33c948","group":"7bc20676.b12478","order":0,"width":"0","height":"0","name":"Burner","label":"Burner","format":"<font color={{msg.color}}><i class=\"fa fa-fire fa-2x\" style= \"font-size:12px;\"></i></font>","layout":"row-spread","x":470,"y":980,"wires":[]},{"id":"9fb2c1a7.25a9b","type":"switch","z":"95d4d9a3.33c948","name":"Burner on/off","property":"payload.burnerInfo","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":980,"wires":[["3539ff69.5898f"],["ea5ff281.bed21"]]},{"id":"3539ff69.5898f","type":"change","z":"95d4d9a3.33c948","name":"Orange","rules":[{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":960,"wires":[["1ecd972c.d2e6a9"]]},{"id":"ea5ff281.bed21","type":"change","z":"95d4d9a3.33c948","name":"Black","rules":[{"t":"set","p":"color","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1000,"wires":[["1ecd972c.d2e6a9"]]},{"id":"ea1a346b.0e91d8","type":"link in","z":"95d4d9a3.33c948","name":"","links":["6cd0aabb.ad1c94"],"x":15,"y":980,"wires":[["9fb2c1a7.25a9b"]]},{"id":"df4d73be.321d2","type":"ui_button","z":"95d4d9a3.33c948","name":"Refresh button","group":"7bc20676.b12478","order":0,"width":"1","height":"1","passthru":false,"label":"","color":"black","bgcolor":"white","icon":"refresh","payload":"","payloadType":"str","topic":"","x":480,"y":580,"wires":[["9e2a0c73.cf321"]]},{"id":"1bd4425d.ea69de","type":"comment","z":"95d4d9a3.33c948","name":"www.EvertDekker.com","info":"Toon laten rooten?\nInfo, mail me ToonRooten@ bovenstaande domein","x":600,"y":1520,"wires":[]},{"id":"30c55be9.874b24","type":"comment","z":"95d4d9a3.33c948","name":"<-Change you ip adres here, click for more info","info":"Set here here the ip address your Toon uses.\n\n========================================\nVer 1.0 12-01-2019 EvertDekker.com\n========================================\nNote: This flow only works with rooted Toons.\nTested with Toon version 4.22.7\n========================================\n\nThis is a basic flow that shows/operate the primary use of the Toon Thermostat.\nBecause I don't have my Toon connected to the Boiler and energy use sensors,\nit's for now just lying on my workbench, I couldn't tested everything full.\n\n\n\nMore info about Toon Rooten:\nhttps://ehoco.nl/rooten-van-enecos-toon-thermostaat/\n\nor if you want your Toon get rooted mail me, see at the end of this flow.\n\n","x":800,"y":120,"wires":[]},{"id":"b7a65fc9.d2ca3","type":"api-current-state","z":"91d56fee.23eae","name":"temp above 24","server":"60c6dc80.fd2254","version":1,"outputs":2,"halt_if":"24","halt_if_type":"num","halt_if_compare":"gte","override_topic":false,"entity_id":"sensor.dark_sky_apparent_temperature","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":740,"y":220,"wires":[["a0d92cb6.dc891","94a66670.276188","5a6bd421.9e989c"],[]]},{"id":"d24627c3.72a5c8","type":"switch","z":"a3002060.c0d1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{     payload: \"LOCK\" ,     topic: \"lockAction\" }","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":460,"wires":[[]]},{"id":"5a6bd421.9e989c","type":"api-call-service","z":"91d56fee.23eae","name":"","server":"60c6dc80.fd2254","version":"1","service_domain":"notify","service":"mobile_app_rijk_galaxy_s10_plus3","entityId":"media_player.living_room_speaker","data":"{\"message\":\"Above 24, ceiling fan on.\",\"title\":\"Ceiling Fan\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1180,"y":140,"wires":[[]]},{"id":"8f690d65.d5c9a","type":"api-call-service","z":"91d56fee.23eae","name":"","server":"60c6dc80.fd2254","version":1,"service_domain":"notify","service":"mobile_app_rijk_galaxy_s10_plus3","entityId":"","data":"{ \"message\": \"Below 24, ceiling fan off.\", \"title\":\"Ceiling Fan\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1180,"y":220,"wires":[[]]},{"id":"77daf041.c72ac","type":"change","z":"d0a3050.f55b2f8","name":"turn on","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":220,"wires":[["baa8b118.2533a"]]},{"id":"23d5cb29.dd44f4","type":"telegram command","z":"b95771c8.d0372","name":"","command":"/lightson","bot":"d9874aa.968bdb8","strict":false,"x":190,"y":180,"wires":[["a74bab8a.0c70b8","9c30651f.bb9078"],[]]},{"id":"d67600c8.bd0a5","type":"hue-group","z":"b95771c8.d0372","name":"living room","bridge":"9825d72a.7559a8","groupid":"1","colornamer":true,"x":610,"y":220,"wires":[[]]},{"id":"a74bab8a.0c70b8","type":"change","z":"b95771c8.d0372","name":"turn on","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":453,"y":347,"wires":[["d67600c8.bd0a5"]]},{"id":"6f287de0.48aef4","type":"telegrambot-notify","z":"b95771c8.d0372","name":"","bot":"bf6039a0.c13728","chatId":"","message":"","parseMode":"","x":480,"y":500,"wires":[]},{"id":"9c30651f.bb9078","type":"debug","z":"b95771c8.d0372","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":200,"wires":[]},{"id":"68b42a2d.57c644","type":"debug","z":"b6e4b62e.830308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":360,"wires":[]},{"id":"eaf5b0ff.9f473","type":"debug","z":"b6e4b62e.830308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":320,"wires":[]},{"id":"d24e90ee.13bd7","type":"status","z":"b6e4b62e.830308","name":"","scope":["98000254.eac09","8f52435.1ceeac"],"x":180,"y":460,"wires":[["8e4389fb.b3c998"]]},{"id":"8e4389fb.b3c998","type":"debug","z":"b6e4b62e.830308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":520,"wires":[]},{"id":"60af00fd.f4014","type":"rpi-gpio in","z":"a3002060.c0d1","name":"Doorbell Front","pin":"40","intype":"up","debounce":"20","read":true,"x":190,"y":260,"wires":[[]]},{"id":"3c021c51.3e35f4","type":"server-state-changed","z":"d0a3050.f55b2f8","name":"Pantry Motion Detected","server":"60c6dc80.fd2254","version":1,"entityidfilter":"binary_sensor.shenzhen_neo_electronics_co_ltd_battery_powered_pir_sensor_v2_sensor_3","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":420,"wires":[["40907811.bf7418"],["6bd691c1.a1cab"]]},{"id":"cb9d5831.451198","type":"hue-light","z":"d0a3050.f55b2f8","name":"Pantry","bridge":"9825d72a.7559a8","lightid":"5","colornamer":true,"x":890,"y":420,"wires":[[]]},{"id":"40907811.bf7418","type":"change","z":"d0a3050.f55b2f8","name":"turn on","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":400,"wires":[["cb9d5831.451198"]]},{"id":"6bd691c1.a1cab","type":"change","z":"d0a3050.f55b2f8","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":480,"wires":[["cb9d5831.451198"]]},{"id":"8a33568c.41c5a8","type":"bigtimer","z":"1fff09cf.aa5a56","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"52.22201","lon":"4.51342","starttime":"1080","endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":60,"y":300,"wires":[["1ac78840.74ce58"],[],[]]},{"id":"ada6ca55.ad4a28","type":"switch","z":"1fff09cf.aa5a56","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":160,"y":200,"wires":[[]]},{"id":"4eeb1f9.924b7e","type":"HWS activity","z":"1fff09cf.aa5a56","name":"TV on","server":"95b62c7e.120f9","activity":"26207109","x":630,"y":360,"wires":[["accd27b2.3950a8"]]},{"id":"1ac78840.74ce58","type":"switch","z":"1fff09cf.aa5a56","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":360,"wires":[[]]},{"id":"cea2bd4f.ee9f8","type":"inject","z":"1fff09cf.aa5a56","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":180,"wires":[["10d2a312.9a0bdd"]]},{"id":"10d2a312.9a0bdd","type":"HWS activity","z":"1fff09cf.aa5a56","name":"","server":"95b62c7e.120f9","activity":"-1","x":700,"y":320,"wires":[[]]},{"id":"7f6eafb8.eb95d","type":"inject","z":"1fff09cf.aa5a56","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":300,"wires":[["4eeb1f9.924b7e"]]},{"id":"accd27b2.3950a8","type":"HWS command","z":"1fff09cf.aa5a56","name":"2","server":"95b62c7e.120f9","activity":"44525373","command":"device:44525373:2","hold":"0","repeat":"1","delay":"0","x":750,"y":480,"wires":[["db44b6b4.d33bc8"]]},{"id":"db44b6b4.d33bc8","type":"HWS command","z":"1fff09cf.aa5a56","name":"0","server":"95b62c7e.120f9","activity":"44525373","command":"device:44525373:0","hold":"0","repeat":"1","delay":"3","x":890,"y":480,"wires":[["2b952ba5.9844d4"]]},{"id":"2b952ba5.9844d4","type":"HWS command","z":"1fff09cf.aa5a56","name":"1","server":"95b62c7e.120f9","activity":"44525373","command":"device:44525373:1","hold":"0","repeat":"1","delay":"3","x":1030,"y":480,"wires":[["f4e6427.c82d3c","a41cf9b4.710ac8"]]},{"id":"f4e6427.c82d3c","type":"HWS command","z":"1fff09cf.aa5a56","name":"red","server":"95b62c7e.120f9","activity":"44525373","command":"device:44525373:Red","hold":"2","repeat":"2","delay":"5","x":1190,"y":480,"wires":[[]]},{"id":"a41cf9b4.710ac8","type":"HWS command","z":"1fff09cf.aa5a56","name":"red","server":"95b62c7e.120f9","activity":"44525373","command":"device:44525373:Red","hold":"2","repeat":"2","delay":"5","x":1190,"y":400,"wires":[[]]},{"id":"94d4662.279ae98","type":"inject","z":"60c80b41.72b654","name":"","topic":"","payload":"{\"jsonrpc\": \"2.0\", \"method\": \"VideoLibrary.GetTVShows\", \"params\": { \"filter\": {\"field\": \"playcount\", \"operator\": \"is\", \"value\": \"0\"}, \"limits\": { \"start\" : 0, \"end\": 75 }, \"properties\": [\"art\", \"genre\", \"plot\", \"title\", \"originaltitle\", \"year\", \"rating\", \"thumbnail\", \"playcount\", \"file\", \"fanart\"], \"sort\": { \"order\": \"ascending\", \"method\": \"label\" } }, \"id\": \"libTvShows\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":260,"wires":[["100a4277.2ce03e"]]},{"id":"100a4277.2ce03e","type":"kodi-out","z":"60c80b41.72b654","name":"","controller":"af7c79c.68a1c88","unit_number":"1","output":"1","kodicommand":"{\"jsonrpc\": \"2.0\", \"method\": \"VideoLibrary.GetTVShows\", \"params\": { \"filter\": {\"field\": \"playcount\", \"operator\": \"is\", \"value\": \"0\"}, \"limits\": { \"start\" : 0, \"end\": 75 }, \"properties\": [\"art\", \"genre\", \"plot\", \"title\", \"originaltitle\", \"year\", \"rating\", \"thumbnail\", \"playcount\", \"file\", \"fanart\"], \"sort\": { \"order\": \"ascending\", \"method\": \"label\" } }, \"id\": \"libTvShows\"}","x":620,"y":260,"wires":[]},{"id":"f68d8fa7.5446c","type":"catch","z":"60c80b41.72b654","name":"","scope":null,"uncaught":false,"x":100,"y":500,"wires":[[]]},{"id":"dcaf159c.020af8","type":"function","z":"75d6253f.3454cc","name":"Door Sensor test function","func":"const globalHomeAssistant = global.get('homeassistant');\nconst ha = globalHomeAssistant.homeAssistant;\nconst groupEntity = ha.states['group.door_sensors'];\nlet entities = [];\n\ngroupEntity.attributes.entity_id.forEach(i => {\n    if(ha.states[i].state === 'open') {\n        entities.push(ha.states[i]);\n    }\n});\n\nmsg.payload = entities;\n  \nreturn msg;","outputs":1,"noerr":0,"x":320,"y":240,"wires":[[]]},{"id":"a10dcd2b.97ae4","type":"api-current-state","z":"48ebc7ce.1b64e8","name":"Device list","server":"60c6dc80.fd2254","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"group.all_devices","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":347.4285583496094,"y":471.71429443359375,"wires":[["7d160e56.c1d34"]]},{"id":"7d160e56.c1d34","type":"function","z":"48ebc7ce.1b64e8","name":"Init lists","func":"var devices = msg.data.attributes.entity_id;\nvar i = devices.length;\n\nglobal.set('devicesHome', []);\nglobal.set('i', i);\n\nreturn {'payload': devices};","outputs":1,"noerr":0,"x":497.4285583496094,"y":471.71429443359375,"wires":[["2e6a5de5.b576b2"]]},{"id":"2e6a5de5.b576b2","type":"splitter","z":"48ebc7ce.1b64e8","name":"for devices","property":"payload","x":649.4285888671875,"y":471.71429443359375,"wires":[["707cf446.909f8c"]]},{"id":"707cf446.909f8c","type":"function","z":"48ebc7ce.1b64e8","name":"get entity","func":"payload = {'entity_id': msg.payload}\ni = global.get('i');\ni = i -1;\ni = global.set('i', i);\nreturn {'payload': payload};","outputs":1,"noerr":0,"x":799.4285888671875,"y":471.71429443359375,"wires":[["927c0b99.429e48"]]},{"id":"927c0b99.429e48","type":"api-current-state","z":"48ebc7ce.1b64e8","name":"home?","server":"60c6dc80.fd2254","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":920.4285888671875,"y":471.71429443359375,"wires":[["d10cf266.47ec4"]]},{"id":"d10cf266.47ec4","type":"function","z":"48ebc7ce.1b64e8","name":"get name","func":"if (msg.payload == 'home'){\n    name = msg.data.attributes.friendly_name;\n    list = global.get('devicesHome');\n    list.push(name);\n    global.set('devicesHome', list)\n}\ni = global.get('i');\nreturn {'payload': {'i': i}};","outputs":1,"noerr":0,"x":1044.4287109375,"y":471.1141662597656,"wires":[["4c6c9222.0d13fc"]]},{"id":"d8836b38.0ee318","type":"telegrambot-command","z":"48ebc7ce.1b64e8","name":"","bot":"bf6039a0.c13728","command":"/presence","commandType":"str","commandCase":false,"x":167.42855834960938,"y":471.71429443359375,"wires":[["a10dcd2b.97ae4","adc81df1.1db15"]]},{"id":"8443171c.14d258","type":"telegrambot-payload","z":"48ebc7ce.1b64e8","name":"Send text","bot":"bf6039a0.c13728","chatId":"782991955","sendMethod":"sendMessage","payload":"","x":1500,"y":460,"wires":[[]]},{"id":"4c6c9222.0d13fc","type":"switch","z":"48ebc7ce.1b64e8","name":"i=0?","property":"payload.i","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1185.7355346679688,"y":470.55230712890625,"wires":[["cb817607.91acf8"]]},{"id":"cb817607.91acf8","type":"function","z":"48ebc7ce.1b64e8","name":"build text","func":"devices = global.get('devicesHome');\nif (devices.length > 0){\n    var text = 'Devices currently at home:\\n\\n' + devices.join('\\n');\n} else {\n    var text = 'Nobody\\'s home right now.';\n}\n\nreturn {'payload': {'text': text}};","outputs":1,"noerr":0,"x":1315.735595703125,"y":471.91900634765625,"wires":[["8443171c.14d258"]]},{"id":"8a33347e.db5528","type":"catch","z":"48ebc7ce.1b64e8","name":"","scope":null,"uncaught":false,"x":240,"y":260,"wires":[[]]},{"id":"fddc9bd8.3dd498","type":"telegrambot-command","z":"48ebc7ce.1b64e8","name":"","bot":"bf6039a0.c13728","command":"/testie","commandType":"str","commandCase":false,"x":150,"y":580,"wires":[["67c93bd0.6659f4"]]},{"id":"67c93bd0.6659f4","type":"api-call-service","z":"48ebc7ce.1b64e8","name":"","server":"60c6dc80.fd2254","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.shenzhen_neo_electronics_co_ltd_wall_switch_2_channels_switch_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":600,"wires":[["b7127898.6fd418"]]},{"id":"be032082.47529","type":"api-call-service","z":"48ebc7ce.1b64e8","name":"","server":"60c6dc80.fd2254","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.shenzhen_neo_electronics_co_ltd_wall_switch_2_channels_switch_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":560,"wires":[[]]},{"id":"b7127898.6fd418","type":"stoptimer","z":"48ebc7ce.1b64e8","duration":"2","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":660,"y":580,"wires":[["be032082.47529"],[]]},{"id":"adc81df1.1db15","type":"debug","z":"48ebc7ce.1b64e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":560,"wires":[]},{"id":"baa8b118.2533a","type":"hue-scene","z":"d0a3050.f55b2f8","name":"max","bridge":"9825d72a.7559a8","sceneid":"wCMDzdZBsMlXoWs","x":710,"y":220,"wires":[[]]},{"id":"28ae8ae4.dd8926","type":"hue-group","z":"d0a3050.f55b2f8","name":"living room","bridge":"9825d72a.7559a8","groupid":"1","colornamer":true,"x":770,"y":120,"wires":[[]]},{"id":"6b05ed22.0474a4","type":"function","z":"d0a3050.f55b2f8","name":"","func":"msg.payload={\n\"on\":[true],\n\"transitionTime\":[360],\n\"bri\":[100]\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":120,"wires":[["28ae8ae4.dd8926"]]},{"id":"4441986c.49b808","type":"inject","z":"d0a3050.f55b2f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":100,"wires":[["6b05ed22.0474a4"]]},{"id":"d68b278b.5778c8","type":"inject","z":"d0a3050.f55b2f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":280,"wires":[["77daf041.c72ac"]]},{"id":"4f42de0f.f456d","type":"bigtimer","z":"d0a3050.f55b2f8","outtopic":"","outpayload1":"","outpayload2":"","name":"Sunset","comment":"","lat":"52.22549","lon":"4.52057","starttime":"5004","endtime":"60","starttime2":0,"endtime2":0,"startoff":"-190","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":280,"y":180,"wires":[["6b05ed22.0474a4"],[],[]]},{"id":"bf282b27.e39b28","type":"server-state-changed","z":"f6f70d6e.186e3","name":"Bathroom Plants Motion Detected","server":"60c6dc80.fd2254","version":1,"entityidfilter":"binary_sensor.shenzhen_neo_electronics_co_ltd_battery_powered_pir_sensor_v2_sensor_2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":100,"wires":[["8735314c.48bcd"],["3daae80c.3231a8","ed998ae8.449488"]]},{"id":"8735314c.48bcd","type":"change","z":"f6f70d6e.186e3","name":"turn on","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":160,"wires":[["10b05568.76151b","539af9bc.933048"]]},{"id":"3daae80c.3231a8","type":"change","z":"f6f70d6e.186e3","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":220,"wires":[["10b05568.76151b"]]},{"id":"9ed98e48.ed3b","type":"server-state-changed","z":"f6f70d6e.186e3","name":"Bathroom Ceiling Motion Detected","server":"60c6dc80.fd2254","version":1,"entityidfilter":"binary_sensor.shenzhen_neo_electronics_co_ltd_battery_powered_pir_sensor_v2_sensor_4","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":240,"wires":[["8735314c.48bcd"],["3daae80c.3231a8","ed998ae8.449488"]]},{"id":"10b05568.76151b","type":"hue-light","z":"f6f70d6e.186e3","name":"Bathroom","bridge":"9825d72a.7559a8","lightid":"9","colornamer":true,"x":800,"y":200,"wires":[[]]},{"id":"539af9bc.933048","type":"stoptimer","z":"f6f70d6e.186e3","duration":"20","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":810,"y":160,"wires":[["41544205.bc4a6c"],[]]},{"id":"41544205.bc4a6c","type":"api-current-state","z":"f6f70d6e.186e3","name":"","server":"60c6dc80.fd2254","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bathroom_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1110,"y":80,"wires":[["2af72271.482a4e"],["98f045e7.0d3048"]]},{"id":"2af72271.482a4e","type":"api-call-service","z":"f6f70d6e.186e3","name":"","server":"60c6dc80.fd2254","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.qubino_goap_zmnhdd1_flush_dimmer_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":280,"wires":[[]]},{"id":"98f045e7.0d3048","type":"api-call-service","z":"f6f70d6e.186e3","name":"","server":"60c6dc80.fd2254","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.qubino_goap_zmnhdd1_flush_dimmer_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":400,"wires":[[]]},{"id":"caa6a3ee.6a563","type":"server-state-changed","z":"294dd5a2.0a571a","name":"Bathroom WC","server":"60c6dc80.fd2254","version":1,"entityidfilter":"binary_sensor.shenzhen_neo_electronics_co_ltd_battery_powered_pir_sensor_v2_sensor_5","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":80,"wires":[["c1689770.7c27e8"],["c9fbc71a.5c9cc8"]]},{"id":"c1689770.7c27e8","type":"api-call-service","z":"294dd5a2.0a571a","name":"","server":"60c6dc80.fd2254","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.qubino_goap_zmnhnd1_flush_1d_relay_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":60,"wires":[[]]},{"id":"e43707e0.0e3618","type":"api-call-service","z":"294dd5a2.0a571a","name":"","server":"60c6dc80.fd2254","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.qubino_goap_zmnhnd1_flush_1d_relay_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":180,"wires":[[]]},{"id":"ed998ae8.449488","type":"api-current-state","z":"f6f70d6e.186e3","name":"","server":"60c6dc80.fd2254","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bathroom_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":380,"wires":[[],["98f045e7.0d3048"]]},{"id":"c9fbc71a.5c9cc8","type":"stoptimer","z":"294dd5a2.0a571a","duration":"3","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":280,"y":160,"wires":[["e43707e0.0e3618"],[]]},{"id":"57dec161.8df5","type":"mqtt in","z":"1fff09cf.aa5a56","name":"","topic":"tv_youtube_on","qos":"2","datatype":"auto","broker":"5dcb3d27.34ff34","x":310,"y":440,"wires":[["4eeb1f9.924b7e"]]}]